@media (max-width: 370px) {
    header h1{
        font-size: 2.6em ;
    }
    header h3{
        font-size: 1.2em;
    }
    main{
       
        font-size: 1.6em;
    }
    
    .fundo-img1{
        background-attachment:scroll;
        background-position: right 40%  center;
    }
    .fundo-img1 p{
        width: 100%;
    }
    .fundo-img2{
        background-attachment:scroll;
        background-position: right  center; 
    }
    .fundo-img2 p{
        width: 100%;
    }
   
    footer{
        
        font-size: 0.6em;
    }
}
@media (min-width:371px) and (max-width:900px){
    header h1{
        font-size: 2.6em ;
    }
    header h3{
        font-size: 1.2em;
    }
    main{
       
        font-size: 1.6em;
    }
    
    .fundo-img1{
        background-attachment:scroll;
        background-position: right 40%  center;
    }
    .fundo-img1 p{
        width: 100%;
    }
    .fundo-img2{
        background-attachment:scroll;
        background-position: right  center; 
    }
    .fundo-img2 p{
        width: 100%;
    }
   
    footer{
        
        font-size: 0.6em;
    }
}


