@font-face {
    font-family: "Apocalypse";
    src: url(../fonts/Apocalypse\ Grunge.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Suithame";
    src: url(../fonts/Suithame.otf);
    font-weight: normal;
}

body{
    background-image: url(../img/fundo.jpg);
    background-size: cover;
}
.solo{
    display: flex;
    align-items: center;
}
.off {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%) skewY(50deg);
}
.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 2s;
    transform: translateX(0%) skewY(0deg);
}
section{
    padding: 1em;
    min-height: 70vh;
}
header{
    height: 15em;
    background-color: rgb(30, 30, 30);
    text-align: center;
    align-content: center;
}
header h1{
    font-family:"Apocalypse", sans-serif;
    font-size: 4em;
    color: white;
}
header h3{
    font-size: 1.5em;
    color: white;
    margin:20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 162, 255);
    text-decoration: underline;
}
main{
    font-family: "Suithame";
    line-height: 1.7em;
    font-size: 2.3em;
    color: white;

   
}

.fundo-img1{
    border-radius: 50px;
    background-image: url(../img/background001.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.fundo-img1 p{
    padding: 30px;
    min-width: 40%;
    height: 90%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.700);
    box-shadow: 0px 5px 20px black;
}
.fundo-img2 p{
    padding: 30px;
    min-width: 40%;
    height: 90%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.700);
    box-shadow: 0px 5px 20px black;
}
.fundo-img2{
    padding: 1em;
    border-radius: 50px;
    background-image: url(../img/background002.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Suithame";
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    height: 3em;
    font-size: 1em;
}
footer a{
    color: rgb(156, 73, 251);
}